/* General setup */
@font-face {   /* Added (2) downloaded fonts and generated bulletproof @font-face  */
    font-family: 'nobileitalic';
    src: url('nobile-italic-webfont.woff2') format('woff2'),
         url('nobile-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansextrabold';
    src: url('firasans-extrabold-webfont.woff2') format('woff2'),
         url('firasans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #aa6666;
    border-bottom: 5px solid #aa6666;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  html {  /* added an body font on the <html> elements using CSS and one of the created font-face */
    font-family: 'nobileitalic', sans-serif;
    font-size: 10px; /* added an site-wide font-size to the html element in the CSS */
  }

  h1, h2{ /* Added heading font to <h1> and <h2> elements using CSS and the other of the created font-face */
    font-family: 'fira_sansextrabold', sans-serif;
    font-weight: bolder;
    letter-spacing: 1.7px; /* added a letter-sizing property for the headers */
  }
  h1,h2 + p{
    text-indent: 20px; /* added the styling for indenting the first paragraph after each heading */
  }
  h1{
    font-size: 4rem; /* modifies all the font-size selectors using rem */
    text-align: center; /* added the text-align: center; on the h1 */
  }
  h2 {
    font-size: 3rem;
  }

  p, li { /* added a line-height adjustment for body text for the p and li */
    font-size: 1.7rem;
    line-height: 1.7;
    letter-spacing: 1px; /* added the letter-sizing property for body text */
    word-spacing: 1px;
  }

  a {
    outline: none;
  }

  a[href*="http"] {
    background: url(external-link-52.png) no-repeat 100% 0; /* added that external links have the external link icon displayed beside them */
    background-size: 14px 14px;
    padding-right: 19px;
  }
  
  a:focus, a:hover { 
    text-decoration: none; /* added styling that makes links underlined unless they are hovered over */
  }

  a:link, a:visited { 
    color: #aa6666; /* added coloring for  link, visited, focus, and hover */
  }

  a:active {
    color: transparent; 
    text-shadow: 0px 0px 1px #f00, 0px 0px 2px #f00, 0px 0px 3px black, 0px 0px 4px black;
  }
  
  ul {
    list-style-type: square; /* added list-style-type property for both ul and ol selectors */
  }
  ol {
    list-style-type: lower-latin;
  }
   ul, ol {
    margin: 1.5rem 0;  
  }
  nav ul {
    padding-left: 0; /* a margin selector with an property using rem units */
    margin-top: 0.9rem;
  }
  
  nav li {
    list-style-type: none;
    margin-bottom: 1.9rem;
  }

  nav li a { /* added the styling for the nav bar elements */
    display: inline-block;
    text-decoration: none;
    width: 100%;
    line-height: 2.9;
    text-align: center;
    font-size: 2.5rem;
    border: 1px solid #aa6666;
  }
  
  nav li a:focus, nav li a:hover { /* added the default focus outline from all links on the page */
    color: #ffffff;
    background: #aa6666;
  }
  
  nav li a:active {
    color: #ffffff;
    background: #000000;
  }